<%- include ('header.ejs') %>	
	
	
	<!---- main background----->
	<section >
		<div class="container">
			
			<div class="row">
				
				<div class="col-sm-6 col-sm-offset-3 bg-primary">
					<h1 class="text-center">Login</h1>
					<form action="/login" method="post">
						
						<hr>
						<div class="row">			
			
			<div class="col-sm-6">
				<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" name="uname" id="username-login"/>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="pwd" id="pwd-login"/>
				</div>
			</div>
			<div class="col-sm-12">
				   
					<button type="submit" class="btn btn-info">Login</button>
			</div>
			<div class="col-sm-12" style="color:red;">
				
				<p style="color:red;"><%= msg %></p>
		</div>
			
		</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	
	
	
	
	<%- include ('footer.ejs') %>	